@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

/* Global styles */
* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}

.row {
	width: 100%;
	height: 92dvh;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* Navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	background-color: #f2f2f2;
}

.navbar-text {
	color: rgb(94, 93, 93);
	font-weight: 400;
	padding: 5px;
}

.navbar-button-md {
	margin-left: 8px;
	padding: 6px 14px;
	font-size: 14px;
	font-weight: bold;
	background-color: #156dfc;
	color: #fff;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}

.navbar-button-md:hover {
	background-color: #1975ff;
}

/* Global Navbar */
.markdown-nav {
	height: 40px;
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3px 20px;
}

.markdown-nav-logo {
	font-size: 2rem;
	font-family: 'Dancing Script', cursive;
	cursor: pointer;
	color: white;
}

.markdown-nav-links {
	display: flex;
	list-style-type: none;
	font-weight: normal;
	align-items: center;
	padding-top: 5px;
}

/* Input area */
.input-area-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.input-text-area {
	font-size: 1.1rem;
	line-height: 1.15;
	padding: 10px;
	border: 0.5px solid #ccc;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	resize: vertical;
	min-width: 90%;
	height: 97%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.2s ease-in-out;
	word-break: break-all; /* Fix line break issue */
	list-style-position: inside;
}

.input-text-area:focus {
	outline: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-color: #4285f4;
}

.input-text-area:hover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-text-area::placeholder {
	color: #999;
}

.input-text-area::-webkit-resizer {
	display: none;
}

/* Output area */
.output-area-container {
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	overflow-wrap: break-word;
	height: 100%;
}

.output-area {
	font-size: 1.1rem;
	line-height: 1.5;
	padding: 10px;
	border: 0.5px solid #ccc;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	resize: vertical;
	min-width: 90%;
	height: 97%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.2s ease-in-out;
	word-break: break-all; /* Fix line break issue */
	list-style-position: inside;
}

/* LoadingSpinner.css */
.loading-spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.spinner {
	border: 5px solid rgba(0, 0, 0, 0.1);
	border-left: 5px solid #3498db;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.github-icon {
	color: white;
}
